<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" *ngIf="showmsg">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="grid-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="tweet()"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button (click)="copyMessage(msg)"><ion-icon name="copy"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <ion-fab-button (click)="favoriterm()"><ion-icon name="trash"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-item>
    <ion-chip color="primary" *ngFor="let tag of showmsg.content.tags">
      <ion-label class="ion-text-wrap">{{tag}}</ion-label>
  
  </ion-chip>
       <!-- <span class="date">
          <ion-note>{{ message.date }}</ion-note>
        </span>
      <h3>To: <ion-note>Me</ion-note></h3>
    </ion-label>-->
  </ion-item>
  
  <div class="ion-padding">
    <p style="white-space: pre-wrap;">
    {{showmsg.content.text}}
    </p>
  </div>
</ion-content>
