  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab=home>
        <ion-icon name="home-outline"></ion-icon>
       <!-- <ion-badge>6</ion-badge>-->
      </ion-tab-button>
      <ion-tab-button tab="star">
        <ion-icon name="star-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/post">
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>